---
layout: default
---

{% for page in paginator.posts %}
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <a href="{{ page.url | prepend: site.baseurl }}"><h2 class="post-title" itemprop="name headline">{{ page.title }}</h2></a>
      <small class="post-meta postmeta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
      </small>
    </header>

    <div class="post-content entrytext" itemprop="articleBody">
      {{ page.content | replace_regex: 'img src=', 'img loading="lazy" src=' }}
    </div>

  </article>
{% endfor %}

<nav>
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>
</nav>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
