<hr />
</div>
 <script>
    window.onload = function () {
        echo.init({
            offset: 400,
            throttle: 150,
            unload: false
        });
    };
 </script>

<div id="footer">
  <div class="socialicons">  
    <a href="https://secure.flickr.com/photos/heipei/"><span class='symbol'>circleflickr</span></a>
    <a href="https://twitter.com/heipei"><span class='symbol'>circletwitterbird</span></a>
    <a href="https://github.com/heipei"><span class='symbol'>circlegithubalt</span></a>
    <a href="https://www.linkedin.com/pub/johannes-gilger/35/932/9b9"><span class='symbol'>circlelinkedin</span></a>
  </div>
		Copyright &copy; heipei
</div>
